<section class="content">
  <div class="container-fluid">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>


    <mat-card fxFlex.gt-xs="40" class="mb15">
      <mat-card-header>
        <mat-card-title>CADASTRAR BOLÃO</mat-card-title>
      </mat-card-header>
      <mat-card-content class="">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Nome do Bolão" type="text" class="example-right-align" [(ngModel)]="nomeBolao"
            [disabled]="listLib">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-select name="countryVaraible" [(value)]="selecionado" [disabled]="listLib">
            <mat-option *ngFor="let situacao of listSituacao" [value]="situacao.full">
              {{situacao.full}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions align="end">
        <button mat-raised-button color="accent" (click)="continuarCadastro()" [disabled]="listLib">Próximo</button>
      </mat-card-actions>

    </mat-card>

    <mat-card fxFlex.gt-xs="40" class="mb15" *ngIf="listLib">

      <mat-card-header>
        <mat-card-title>Jogos da Semana</mat-card-title>
      </mat-card-header>


      <mat-accordion *ngFor="let competicao of competicoes">
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <img matListAvatar class="width30" src="{{competicao.emblem}}">
              <span class="nome-time">{{competicao.name}}</span>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <!-- jogos das competição -->
          <div class="containerCards">
            <div id="cardJogo" class="cardItem cardItem3" *ngFor="let partida of partidas; let i = index">
              <div class="dateAndHour"><span class="date">21/nov</span><span class="hour">16:00</span></div>
              <div class="teams">
                <div class="team">
                  <div class="logoTeam"><img src="{{partida.clube_mandante_escudos}}" width="25" height="25">
                  </div>
                  <div class="nameTeam"><span>{{partida.clube_mandante_abreviacao}}</span></div>
                </div>
                <div class="team">
                  <div class="logoTeam"><img src="{{partida.clube_visitante_escudos}}" width="25" height="25">
                  </div>
                  <div class="nameTeam"><span>{{partida.clube_visitante_abreviacao}}</span></div>
                </div>
              </div>
            </div>
          </div>

        </mat-expansion-panel>
      </mat-accordion>

    </mat-card>


    <button mat-icon-button *ngIf="listLib" (click)="limpar()">
      <i class="fa fa-arrow-left" style="font-size:48px;color:rgb(0, 81, 255)"></i>
    </button>



  </div>
</section>
