<section class="content">
  <div class="container-fluid">

    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>

    <mat-card fxFlex="50" class="mb15">

      <div class="eventlist-country">
        <div class="boxFlag">
          <span class="flag flag_small flag-INT"></span>
        </div>
        <span class="name">Bolão</span>

        <div id="divTitleOdds" class="titleMarkets titleMarkets3">
          <span class="item">Casa</span>
          <span id="titleEmpate" class="item">Empate</span>
          <span class="item">Fora</span></div>
      </div>

      <div class="containerCards">

        <div id="cardJogo" class="cardItem cardItem3" *ngFor="let team of partidas; let i = index">
          <div class="dateAndHour"><span class="date">{{team.utcDate.substring(0,5)}}</span><span
              class="hour">{{team.utcDate.substring(11,16)}}</span></div>
          <div class="teams">
            <div class="team">
              <div class="logoTeam"><img src="{{team.crest_homeTeam}}" width="25" height="25">
              </div>
              <div class="nameTeam"><span>{{team.shortName_homeTeam}}</span></div>
            </div>
            <div class="team">
              <div class="logoTeam"><img src="{{team.crest_awayTeam}}" width="25" height="25">
              </div>
              <div class="nameTeam"><span>{{team.shortName_awayTeam}}</span></div>
            </div>
          </div>

          <div class="outcomesMain"> 
            <div class="boxOdds boxOdds3">
              <a (click)="casaVence(i, team.id_partida)" id="1639887647" class="odd" href="javascript:void(0)">
                <i *ngIf="casaChecked[i]" class="fa fa-check" aria-hidden="true" style='color:greenyellow'></i>
                <i *ngIf="!casaChecked[i]" class="fa fa-cart-plus" aria-hidden="true"></i>
              </a>
              <a (click)="empateJogo(i, team.id_partida)" id="1639887648" class="odd" href="javascript:void(0)">
                <i *ngIf="empateChecked[i]" class="fa fa-check" aria-hidden="true" style='color:greenyellow'></i>
                <i *ngIf="!empateChecked[i]" class="fa fa-cart-plus" aria-hidden="true"></i>
              </a>
              <a (click)="foraVence(i, team.id_partida)" id="1639887649" class="odd" href="javascript:void(0)">
                <i *ngIf="foraChecked[i]" class="fa fa-check" aria-hidden="true" style='color:greenyellow'></i>
                <i *ngIf="!foraChecked[i]" class="fa fa-cart-plus" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="container-login100-form-btn">
          <button mat-flat-button color="primary" class="login100-form-btn" (click)="confirma()">
            CONFIRMA
          </button>
        </div>

      </div>

    </mat-card>
  </div>

</section>
