<section class="content">
  <div class="container-fluid">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    <!-- Widgets -->

    <!-- #END# Widgets -->
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="card">
          <mat-card>
            <mat-card-header>
              <mat-icon mat-card-avatar>donut_large</mat-icon>
              <mat-card-title>BOLÃO POINT DO JOGADOR</mat-card-title>
              <mat-card-subtitle>Melhores jogos</mat-card-subtitle>
              <div style="flex-grow: 1"></div>
              <button mat-icon-button>
                <i class="fab fa-whatsapp" style="font-size:48px;color:rgb(21, 255, 0)"></i>
              </button>
            </mat-card-header>
            <mat-card-content>
              <p>Card content</p>
            </mat-card-content>
            <!-- <mat-card-actions align="end"><button mat-raised-button color="primary" [routerLink]="'/dashboard/dashboard2'">Participar</button> -->
              <mat-card-actions align="end"><button mat-raised-button color="primary" [routerLink]="'/gerencia-bolao/list-bolao'">Participar</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>

      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="card">
          <mat-card>
            <mat-card-header>
              <mat-icon mat-card-avatar>layers</mat-icon>
              <mat-card-title>CARTOLA POINT DO JOGADOR</mat-card-title>
              <mat-card-subtitle>Melhores Ligas</mat-card-subtitle>
              <div style="flex-grow: 1"></div>
              <button mat-icon-button>
                <i class="fab fa-whatsapp" style="font-size:48px;color:rgb(21, 255, 0)"></i>
              </button>
            </mat-card-header>
            <mat-card-content>
              <p>Card content</p>
            </mat-card-content>
            <mat-card-actions align="end"><button mat-raised-button color="primary">Participar</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>



    </div>
  </div>
</section>
